<!-- app/views/profiles/show.html.erb -->
<section class="section">
  <div class="container">
    <h1 class="title">Profile Page</h1>

    <div class="box">
      <article class="media">
        <figure class="media-left">
          <% if @customer.image.attached? %>
            <%= image_tag @customer.image.variant(resize_to_limit: [100, 100]).processed, class: "image is-128x128" %>
          <% else %>
            <%= image_tag 'default-profile.jpg', class: "image is-128x128" %>
          <% end %>
        </figure>

        <div class="media-content">
          <div class="content">
            <p><strong>Name:</strong> <%= @customer.full_name %></p>
            <p><strong>Email:</strong> <%= @customer.email %></p>
            <p><strong>Address:</strong> <%= @customer.address %></p>
            <p><strong>City:</strong> <%= @customer.city %></p>
            <p><strong>Postal Code:</strong> <%= @customer.postal_code %></p>
            <% if @customer.province %>
              <p><strong>Province:</strong> <%= @customer.province.name %></p>
            <% end %>
          </div>
        </div>
      </article>
    </div>

    <%= link_to 'Edit Profile', edit_profile_path, class: 'button is-primary' %>
  </div>
</section>
