<div class="box">
  <article class="media">
    <div class="media-left">
      <%= image_tag(customer.image, class: "image is-64x64") if customer.image.attached? %>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= customer.full_name %></strong><br>
          <%= customer.phone_number %><br>
          <%= customer.email %>
        </p>
        <p><%= customer.notes %></p>
      </div>
    </div>
  </article>
</div>
