<!-- app/views/products/index.html.erb -->

<!-- Customer Dashboard and Authentication Button Section -->
<section class="section">
  <div class="container">
    <% if customer_signed_in? %>
      <h1 class="title">Customer Dashboard</h1>
      <p>Hello, <%= current_customer.email %></p>
      <%= link_to 'Logout', destroy_customer_session_path, method: :delete, class: 'button is-primary' %>
    <% else %>
      <h1 class="title">Welcome to Our Store</h1>
      <%= link_to 'Login', new_customer_session_path, class: 'button is-primary' %>
    <% end %>
  </div>
</section>


<!-- Bulma styled filter form -->
<div class="section">
  <%= form_with(url: products_path, method: :get, local: true, class: 'form') do |form| %>
    <div class="field">
      <%= form.label :category_id, "Choose a category:", class: 'label' %>
      <div class="control">
        <%= form.collection_select(:category_id, Category.all, :id, :name, { include_blank: true }, { class: 'select' }) %>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <%= form.submit "Filter", class: 'button is-link' %>
      </div>
    </div>
  <% end %>
</div>

<!-- Products Listing Section -->
<section class="section">
  <div class="container">
    <h2 class="title">Our Products</h2>
    <%# <%= link_to 'Sign In', new_customer_session_path, class: 'button is-primary' %>

    <div class="columns is-multiline">
      <% @products.each do |product| %>
        <div class="column is-one-quarter">
          <div class="card">
            <div class="card-content">
              <%= link_to product.name, product_path(product), class: 'product-name title is-5' %>

              <% if product.images.attached? %>
                <% product.images.each do |image| %>
                  <figure class="image is-4by3">
                    <%= image_tag(image, class: "is-rounded") %> <!-- Adjusted for Bulma -->
                  </figure>
                <% end %>
              <% end %>
              <p class="subtitle is-6"><%= number_to_currency(product.price) %></p>
              <!-- Any other product details you want to display -->
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <!-- Pagination Links -->
    <%= paginate @products, theme: 'bulma' %>
  </div>
</section>
