<!-- app/views/products/index.html.erb -->
<%= form_with(url: products_path, method: :get, local: true) do |form| %>
  <%= form.label :category_id, "Choose a category:" %>
  <%= form.collection_select(:category_id, Category.all, :id, :name, include_blank: true) %>
  <%= form.submit "Filter" %>
<% end %>

<div class="products">
  <%= link_to 'Sign In', new_customer_session_path, class: 'button is-primary' %>

  <% @products.each do |product| %>
    <div class="product">
      <!-- Each product name is a link to the product's show page -->
      <%= link_to product.name, product_path(product), class: 'product-name' %>

      <% if product.images.attached? %>
        <% product.images.each do |image| %>
          <%= image_tag(image, size: "100x100") %> <!-- Adjust size as needed -->
        <% end %>
      <% end %>
      <p><%= number_to_currency(product.price) %></p>
      <!-- Any other product details you want to display -->
    </div>
  <% end %>

  <!-- Pagination Links -->
  <%= paginate @products %>
</div>
