<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <title>FullStack FINAL</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <!-- Your brand/logo here -->
          <%= link_to 'FullStack FINAL', root_path, class: 'navbar-item' %>
          <!-- Add a burger icon for mobile here if needed -->
        </div>

        <div class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item"><%= 'About' %></a>
            <a class="navbar-item"><%= 'Contact' %></a>
            <a class="navbar-item"><%='Shop' %></a>
            <a class="navbar-item"><%='Home' %></a>
          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <%# <%= render 'partials/search' %>
            </div>

            <% if customer_signed_in? %>
              <div class="navbar-item">
                <div class="buttons">
                  <%# <%= link_to 'Sign out', destroy_customer_session_path, method: :delete, class: 'button is-light' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
